.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.actions {
  margin-top: auto;
  padding-bottom: 8px;
}
