@use "styles/colors.scss" as color;

.header {
  margin: -16px -16px 0;
  padding: 18px 16px;
  background: color.$color-accent-main;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

.headerPage {
  justify-content: space-between;
  gap: 10px;
}

.pageTitle {
  font-weight: 700;
}

.avatar {
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.18);
}

.content {
  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;

  padding-top: 14px;
}
