@use "styles/colors.scss" as color;

.header {
  margin: -16px -16px 0;
  padding: 18px 16px 18px;
  background: color.$color-accent-main;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

.avatar {
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.18);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  min-height: 0;
}
