.page {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  overflow-x: hidden;
}

.notificationCard {
  padding: 16px;
  border-radius: 16px !important;
  position: relative;
  transition: all 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.unreadDot {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 8px;
  height: 8px;
  background-color: #fcc036;
  border-radius: 50%;
}

.state {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding-bottom: 80px;
}

.detailsLayout {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsLayoutInner {
  width: 100%;
  max-width: 500px;
}

.detailContentPaper {
  padding: 16px;
  border-radius: 16px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
}

.detailContentText {
  white-space: pre-wrap;
  line-height: 1.6;
  text-align: left;
  width: 100%;
  font-size: 20px;
}

.loadingView {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.errorView {
  padding: 24px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}