$color-bg-main: #181818;
$color-surface-main: #f4f0e6;
$color-accent-main: #ffe56b;
$color-text-main: #141414;
<<<<<<< HEAD
$color-muted-main: #4a4a4a;
=======
$color-muted-main: #4a4a4a;
>>>>>>> 2d48bc4 (Fix code LoginPage)
