.root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  margin-top: auto;
  padding-bottom: 8px;
}
