::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  font-family:
    "Manrope",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: #181818;
  color: #141414;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
}

button,
input,
textarea {
  font: inherit;
}
