.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 8px;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.input {
  height: 52px;
  padding: 0 16px;
  border-radius: 14px;
  border: 2px solid var(--color-accent-main);
  background: transparent;
  outline: none;
  color: var(--color-text-main);
  box-sizing: border-box;
  font-size: 14px;
}

.input::placeholder {
  color: var(--color-muted-main);
}

.helperText {
  margin: 0;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
