.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.helperText {
  margin: 0;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
