.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  :global(.MuiOutlinedInput-root) {
    border-radius: 16px;
  }

  :global(.MuiOutlinedInput-notchedOutline) {
    border-color: colors.$color-accent-main;
  }

  :global(.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline) {
    border-color: colors.$color-accent-main;
  }

  :global(.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline) {
    border-color: colors.$color-accent-main;
  }

  :global(.MuiOutlinedInput-input) {
    padding: 16px;
  }
}

.helperText {
  margin: 0;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
