.header {
  margin-top: clamp(140px, 27vh, 220px);
  text-align: right;
}

.spacer {
  flex: 1;
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
  width: 100%;
}
