.content {
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  padding-top: clamp(180px, 24vh, 240px);

  padding-bottom: 32px;
}

.header {
  text-align: right;
}

.subtitle {
  margin-top: 12px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.backButton {
  position: absolute;
  top: 16px;
  left: 16px;
}
