.content {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  padding-top: clamp(100px, 15vh, 180px);

  padding-bottom: 32px;
}

.header {
  text-align: right;
}

.subtitle {
  margin-top: 12px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.backButton {
  position: absolute;
  top: 16px;
  left: 16px;
}
