@use "../styles/—ÅommonStyles.scss" as *;

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $screen-bg;
}

.card {
  width: min(100% - 32px, 420px);
  border-radius: 32px;
  background-color: $card-bg !important;
  padding: 20px 16px 32px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  justify-content: flex-start;
}

.backButton {
  width: 47px;
  height: 37px;
  padding: 0;
  background-color: $accent;
  border-radius: 15px;
  color: $text;

  background-color: $accent;
  color: $text;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 6vh;
  padding-bottom: 6vh;
}
