@use "../global.scss" as global;

.root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 0;
  background: global.$color-bg-main;
}

.phone {
  position: relative;

  width: min(360px, calc(100% - 32px));
  height: min(800px, calc(100vh - 32px));

  background: global.$color-surface-main;
  border-radius: 38px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}

.backButton {
  position: absolute;
  top: 16px;
  left: 16px;

  width: 47px;
  height: 37px;

  border: none;
  border-radius: 15px;
  background: global.$color-accent-main;
  color: global.$color-text-main;

  font-size: 18px;
  cursor: pointer;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
